# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE and Editor
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

# OS and Environment
.DS_Store
Thumbs.db
*.log
.env
q.md
